{% extends "base-admin.html" %}
{% load static %}
{% block title %}Win Herbal - Admin{% endblock %}
{% block content %}
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">Produk</h4>
                        <div class="ml-auto text-right">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item"><a href="#">Admin</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Produk</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title m-b-0">Daftar Produk</h5>
                            </div>
                            <div class="card-body">
                                <div class="d-flex flex-row bd-highlight mb-3 justify-content-between">
                                    <form class="form-inline my-2 my-lg-0">
                                        <input class="form-control mr-sm-2" type="search" placeholder="Cari" aria-label="Search">
                                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Cari</button>
                                      </form>
                                    <div class="p-2 bd-highlight">
                                        <a class="btn btn-outline-success" href="{% url 'account:product_add' %}" role="button"><span class="mr-2"><i class="fas fa-plus-circle"></i></span> Tambah Produk</a>
                                    </div> 
                                </div>
                            </div>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class="thead-light">
                                            <tr>
                                                <th>
                                                    <label class="customcheckbox m-b-20">
                                                        <input type="checkbox" id="mainCheckbox" />
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </th>
                                                <th scope="col">Judul</th>
                                                <th scope="col">Slug</th>
                                                <th scope="col">Harga</th>
                                                <th scope="col">Tanggal</th>
                                            </tr>
                                        </thead>
                                        <tbody class="customtable">
                                            <tr>
                                                <th>
                                                    <label class="customcheckbox">
                                                        <input type="checkbox" class="listCheckbox" />
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </th>
                                                <td><strong>Madu Klanceng</strong></td>
                                                <td>madu-klanceng</td>
                                                <td>50000</td>
                                                <td>Sept. 3, 2022, 5:13 a.m.</td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <label class="customcheckbox">
                                                        <input type="checkbox" class="listCheckbox" />
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </th>
                                                <td><strong>Jamu Empon-Empon</strong></td>
                                                <td>jamu-empon-empon</td>
                                                <td>15000</td>
                                                <td>Sept. 3, 2022, 5:12 a.m.</td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <label class="customcheckbox">
                                                        <input type="checkbox" class="listCheckbox" />
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </th>
                                                <td><strong>Jamu Kunyit Sirih</strong></td>
                                                <td>jamu-kunyit-sirih</td>
                                                <td>15000</td>
                                                <td>Aug. 30, 2022, 7:43 a.m.</td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <label class="customcheckbox">
                                                        <input type="checkbox" class="listCheckbox" />
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </th>
                                                <td><strong>Madu Murni</strong></td>
                                                <td>madu-murni</td>
                                                <td>80000</td>
                                                <td>Aug. 30, 2022, 7:42 a.m.</td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <label class="customcheckbox">
                                                        <input type="checkbox" class="listCheckbox" />
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </th>
                                                <td><strong>Gula Aren</strong></td>
                                                <td>gula-aren</td>
                                                <td>2000</td>
                                                <td>Aug. 22, 2022, 4:24 a.m.</td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <label class="customcheckbox">
                                                        <input type="checkbox" class="listCheckbox" />
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </th>
                                                <td><strong>Beras Kencur Bubuk</strong></td>
                                                <td>beras-kencur-bubuk</td>
                                                <td>15000</td>
                                                <td>Aug. 6, 2022, 6:48 a.m.</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->

{% endblock content %}