{% extends "base.html" %}
{% load static %}
{% block title %}Win Herbal{% endblock %}
{% block content %}

	
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Fresh & Original</p>
						<h1>Tentang Kami</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- featured section -->
	<div class="feature-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-7">
					<div class="featured-text">
						<h2 class="pb-3">Kenapa <span class="orange-text">Win Herbal</span></h2>
						<div class="row">
							<div class="col-lg-6 col-md-6 mb-4 mb-md-5">
								<div class="list-box d-flex">
									<div class="list-icon">
										<i class="fas fa-shipping-fast"></i>
									</div>
									<div class="content">
										<h3>Pengiriamn Kemanapun</h3>
										<p>Win Herbal melayani pembelian dari dalam maupun luar negeri, kontak kami dan deal!</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 mb-5 mb-md-5">
								<div class="list-box d-flex">
									<div class="list-icon">
										<i class="fas fa-money-bill-alt"></i>
									</div>
									<div class="content">
										<h3>Harga Terbaik</h3>
										<p>Harga untuk setiap produk yang kami jual, dipastikan sangat sesuai dengan produk yang kami berikan</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 mb-5 mb-md-5">
								<div class="list-box d-flex">
									<div class="list-icon">
										<i class="fas fa-briefcase"></i>
									</div>
									<div class="content">
										<h3>Presale & Borongan</h3>
										<p>MEnerima pesanan dalam jumlah banyak maupun sedikit. Jangan khawatir, kami memiliki bahan prosuksi yang melimpah, kontak kami dan deal!</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6">
								<div class="list-box d-flex">
									<div class="list-icon">
										<i class="fas fa-sync-alt"></i>
									</div>
									<div class="content">
										<h3>Fresh & Original</h3>
										<p>Kami bisa menjamin bahwa produk yang kami berikan adalah produk fresh dan original</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end featured section -->

	<!-- single article section -->
	<div class="mt-150 mb-150">
		<div class="container">
			
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">
						<h3>Tentang <span class="orange-text">Win Herbal</span></h3>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="single-article-section">
						<div class="single-article-text">
							<p>Win Herbal adalah UMKM Jamu Herbal. Komitmen kami adalah <strong>“Menjamu anda dengan Jamu fresh dan original”</strong>. Kami memproduksi jamu dan aneka minuman herbal bubuk, sekali lagi fresh dan original dan tentunya tanpa pengawet yang membahayakan. Kami mulai melakukan produksi pada 29 Mei 2017, dan telah mengantongi izin P-IRT. 212350201205823. </p>
							<p>Bahan-bahan untuk produksi Win Herbal dari kebun sendiri dan/atau dari petani sekitar secara langsung. Bahan baku kami melimpah, terjaga, terawat seperti malika-nya kecap bango. Kami bisa menjamin bahwa bahan baku yang digunakan adalah original dari tanaman herbal dan rempah asli.</p>
							<p>Kami memproduksi jamu kami dengan semangat. Seetiap produk yang anda terima, adalah buah dari cinta dan perhatian. Anda bisa memesan berapapun , kapanpun, di manapun anda berada. </p>
							<p><i>Just lowkey flexing</i>, Win Herbal memiliki kebun tanaman herbal seperti kunyit, temu lawak, jahe, sirih, dan lain sebagainya. Tanaman-tanaman tersebut dirawat dan dibudidayakan oleh Mbah Marni, petani jos pokoke lur. Sementara untuk proses prosuksi, Win Herbal dibantu oleh anggota keluarga lain sepereti Mbok Mirah, Pak Mikun, dan kdang-kadang Mbok Sri. </p>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end single article section -->

	<!-- team section -->
	<div class="mt-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">
						<h3>Tim <span class="orange-text">Win Herbal</span></h3>
						<p>Orang-orang di balik produksi Win Herbal</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="single-team-item">
						<div class="team-bg team-bg-1"></div>
						<h4>Winarti <span>Marketing</span></h4>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-team-item">
						<div class="team-bg team-bg-2"></div>
						<h4>Mikun <span>Produksi</span></h4>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
					<div class="single-team-item">
						<div class="team-bg team-bg-3"></div>
						<h4>Mirah <span>Produksi</span></h4>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
					<div class="single-team-item">
						<div class="team-bg team-bg-2"></div>
						<h4>Marni <span>Petani</span></h4>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
					<div class="single-team-item">
						<div class="team-bg team-bg-3"></div>
						<h4>Sri Wahyuni <span>Produksi</span></h4>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end team section -->


{% endblock content %}
