{% extends "base.html" %}
{% load static %}
{% block title %}Win Herbal{% endblock %}
{% block content %}

	<!-- home page slider -->
	<div class="homepage-slider">
		<!-- single home slider -->
		<div class="single-homepage-slider homepage-bg-1">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-lg-7 offset-lg-1 offset-xl-0">
						<div class="hero-text">
							<div class="hero-text-tablecell">
								<p class="subtitle">Tersedia Banyak Produk Herbal</p>
								<h1>Dapatkan Sekarang Juga!</h1>
								<div class="hero-btns">
									<a href="shop.html" class="boxed-btn">Daftar Produk</a>
									<a href="contact.html" class="bordered-btn">Kontak Kami</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- single home slider -->
		<div class="single-homepage-slider homepage-bg-2">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 offset-lg-1 text-center">
						<div class="hero-text">
							<div class="hero-text-tablecell">
								<p class="subtitle">Tinggal Seduh</p>
								<h1>Njamu Tidak Pernah Semudah Ini</h1>
								<div class="hero-btns">
									<a href="shop.html" class="boxed-btn">Daftar Produk</a>
									<a href="contact.html" class="bordered-btn">Kontak Kami</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- single home slider -->
		<div class="single-homepage-slider homepage-bg-3">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 offset-lg-1 text-right">
						<div class="hero-text">
							<div class="hero-text-tablecell">
								<p class="subtitle">Komitmen Kami</p>
								<h1>Menjamu dengan Jamu Fresh & Original</h1>
								<div class="hero-btns">
									<a href="shop.html" class="boxed-btn">Daftar Produk</a>
									<a href="contact.html" class="bordered-btn">Kontak Kami</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end home page slider -->

	<!-- features list section -->
	<div class="list-section pt-80 pb-80">
		<div class="container">

			<div class="row">
				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<div class="list-box d-flex align-items-center">
						<div class="list-icon">
							<i class="fas fa-shipping-fast"></i>
						</div>
						<div class="content">
							<h3>Kirim ke Manapun</h3>
							<p>Dalam & Luar Negeri</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<div class="list-box d-flex align-items-center">
						<div class="list-icon">
							<i class="fas fa-phone-volume"></i>
						</div>
						<div class="content">
							<h3>Aktif Setiap Hari</h3>
							<p>Pesan Kapanpun</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="list-box d-flex justify-content-start align-items-center">
						<div class="list-icon">
							<i class="fas fa-sync"></i>
						</div>
						<div class="content">
							<h3>Produk Original</h3>
							<p>Dijamin Fresh dan Ori</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- end features list section -->
		
	<!-- advertisement section -->
	<div class="abt-section mb-150" id="tentang">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<div class="abt-bg">
						<a href="https://www.youtube.com/watch?v=lZZmlJM7osE&ab_channel=MasakTV" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
					</div>
				</div>
				<div class="col-lg-6 col-md-12">
					<div class="abt-text">
						<p class="top-sub">Sejak 2017</p>
						<h2 style="font-size: 40px; font-weight:800;">Win <span class="orange-text">Herbal</span></h2>
						<p>Win Herbal adalah UMKM Jamu Herbal. Komitmen kami adalah “Menjamu anda dengan Jamu fresh dan original”. Kami memproduksi jamu dan aneka minuman herbal bubuk, sekali lagi fresh dan original dan tentunya tanpa pengawet yang membahayakan. </p>
						<p>Bahan-bahan untuk produksi Win Herbal dari kebun sendiri dan/atau dari petani sekitar secara langsung.</p>
						<a href="{% url 'store:tentang' %}" class="boxed-btn mt-4">Tentang</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end advertisement section -->
	
	<!-- product section -->
	<div class="product-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">	
						<h3><span class="orange-text">Produk</span> kami</h3>
						<p>Ringkasan produk kami bisa disimak sebagai berikut ini</p>
					</div>
				</div>
			</div>

			<div class="row">
				{% if not products %}
				<div class="col-12">There are currently no products active</div>
			 	{% else %}
				{% for product in products %}
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{{ product.get_absolute_url }}"><img src="{{ product.image.url }}" alt="Gambar"></a>
						</div>
						<h5>{{ product.title|slice:":20" }}</h5>
						<p class="product-price">{{product.price}} </p>
						<a href="{{ product.get_absolute_url }}" class="cart-btn"><i class="fas fa-eye mx-2"></i>Detail</a>
					</div>
				</div>
				{% endfor %}
				{% endif %}
				
			</div>
			<div class="row">
				<div class="col-lg-12 text-center">
					<a href="{% url 'store:product_all' %}" class="boxed-btn">Selengkapnya</a>
				</div>
			</div>
		</div>
	</div>
	<!-- end product section -->
	{% comment %}
	<!-- cart banner section -->
	<section class="cart-banner pt-100 pb-100">
    	<div class="container">
        	<div class="row clearfix">
            	<!--Image Column-->
            	<div class="image-column col-lg-6">
                	<div class="image">
                    	<div class="price-box">
                        	<div class="inner-price">
                                <span class="price">
                                    <strong>30%</strong> <br> off per kg
                                </span>
                            </div>
                        </div>
                    	<img src="assets/img/a.jpg" alt="">
                    </div>
                </div>
                <!--Content Column-->
                <div class="content-column col-lg-6">
					<h3><span class="orange-text">Deal</span> of the month</h3>
                    <h4>Hikan Strwaberry</h4>
                    <div class="text">Quisquam minus maiores repudiandae nobis, minima saepe id, fugit ullam similique! Beatae, minima quisquam molestias facere ea. Perspiciatis unde omnis iste natus error sit voluptatem accusant</div>
                    <!--Countdown Timer-->
                    <div class="time-counter"><div class="time-countdown clearfix" data-countdown="2020/2/01"><div class="counter-column"><div class="inner"><span class="count">00</span>Days</div></div> <div class="counter-column"><div class="inner"><span class="count">00</span>Hours</div></div>  <div class="counter-column"><div class="inner"><span class="count">00</span>Mins</div></div>  <div class="counter-column"><div class="inner"><span class="count">00</span>Secs</div></div></div></div>
                	<a href="cart.html" class="cart-btn mt-3"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                </div>
            </div>
        </div>
    </section>
    <!-- end cart banner section -->
	{% endcomment %}
	
	<!-- testimonail-section -->
	<div class="testimonail-section mt-100 mb-100">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1 text-center">
					<div class="testimonial-sliders">
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="assets/img/avaters/avatar1.png" alt="">
							</div>
							<div class="client-meta">
								<h3>Ulfa <span>Pelajar</span></h3>
								<p class="testimonial-body">
									" Jamunya mantul, empon-emponnya terasa segernya. Efeknya juga manjur untuk melagakkan badan yang lungkrah karena kecapean "
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="assets/img/avaters/avatar2.png" alt="">
							</div>
							<div class="client-meta">
								<h3>Saikan <span>Peternak Kambing</span></h3>
								<p class="testimonial-body">
									" Untuk njamoni kambing saya, saya biasaya pesan madu dari sini. Madunya asli dan harganya sesuai dengan kantong "
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="assets/img/avaters/avatar3.png" alt="">
							</div>
							<div class="client-meta">
								<h3>Ratna Sari <span>TKW Hongkong</span></h3>
								<p class="testimonial-body">
									" Senng belanja di sini. Bisa mengobati kangen jamu ketika berada di negeri yang jauh. Jamunya seger dan membuat badan fresh. cocok!"
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end testimonail-section -->

	
	<!-- shop banner -->
	<section class="shop-banner">
    	<div class="container">
        	<h3>Dapatkan harga menarik! <br> dengan <span class="orange-text">diskon...</span></h3>
            <div class="sale-percent"><span>untuk pembelian dengan jumlah besar</div>
            <a href="shop.html" class="cart-btn btn-lg">Pesan Sekarang</a>
        </div>
    </section>
	<!-- end shop banner -->
	
	<!-- latest news -->
	<div class="latest-news pt-120 pb-120 mb-100 mt-100">
		<div class="container">

			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">	
						<h3><span class="orange-text">Artikel</span> Kami</h3>
						<p>Untuk mengetahui lebih dekat mengenai kami, simak artikel-artikel kami berikut ini</p>
					</div>
				</div>
			</div>
			
			<div class="row">
				{% for post in articles %}
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a href="{{ post.get_absolute_url }}"">
							<div class="latest-news-bg news-bg-1">
								<img src="{{ post.gambar.url }}" alt="Gambar" class="img-fluid" style="    height: 200px;
								width: 350px;
								object-fit: cover;">
							</div>
						</a>
						<div class="news-text-box">
							<h3><a href="{{ post.get_absolute_url }}">{{ post.judul }}</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> {{ post.penulis }}</span>
								<span class="date"><i class="fas fa-calendar"></i> {{ post.created }}</span>
							</p>
							<p class="excerpt">{{ post.body|safe|slice:":120" }}...</p>
							<a href="{{ post.get_absolute_url }}" class="read-more-btn">Selengkapnya <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			

			<div class="row">
				<div class="col-lg-12 text-center">
					<a href="/blog" class="boxed-btn">Selengkapnya</a>
				</div>
			</div>
		</div>
	</div>
	<!-- end latest news -->




 

   

{% comment %} 
<div class="container"> 
  <div class="alert alert-primary fw600 rounded-0 border-0 pb-3" role="alert">
    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-info-circle me-2"
      viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
      <path
        d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
    </svg>
    COVID-19 - <u>Click here for our latest updates</u> on our stores, website and contact centre. Thank you for
    your patience and support.
  </div>
  <div class="container">
    <div class="row">
      <div class="album py-5">
        <div class="pb-3">
          <h1 class="h3">Popular</h1>
        </div>
        {% if not products %}
        <div class="col-12">There are currently no products active</div>
          {% else %}
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
          {% for product in products %}
          <div class="col">
            <div class="card border-0">
              <img class="img-fluid" alt="Responsive image" src="{{ product.image.url }}">
              <div class="card-body px-0">
                <p class="card-text">
                  <a class="text-dark text-decoration-none"
                    href="{{ product.get_absolute_url }}">{{ product.title|slice:":50" }}...</a>
                </p>
                <div class="fw-bold">£{{product.price}}</div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
</div>
{% endcomment %}
{% endblock %}