{% extends "../base.html" %}
{% load static %}
{% block title %}Basket Summary{%endblock %}
{% block content %}

<style>
  .img-sm {
    width: 72px;
    height: 72px;
  }
  .itemside .info {
    padding-left: 0.75rem;
    flex-grow: 1;
  }
</style>

	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Fresh dan Original</p>
						<h1>Keranjang</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->
<div class="container my-5">
  <div class="row"> 
    {% if basket|length == 0 %}
    <div class="col-12">Keranjang anda kosong, isi kembali ke halaman <a href="{% url 'store:home' %}">Produk</a></div>
    {% else %}
    <div class="col-lg-9">
      <div class="card">
        <div class="card-body"> 
          <h5 class="card-title mb-4">Keranjang</h5> 
          {% for item in basket %}
          {% with product=item.product %}
          <div class="card mb-4 border-0 product-item" data-index="{{product.id}}">
            <div class="row">
              <div class="col-lg-6">
                <div class="itemside me-lg-5 d-flex flex-row"> 
                  <div class="aside">
                    <img src="{{ product.image.url }}" class="img-sm border rounded">
                  </div> 
                  <div class="info"> 
                    <a href="{{item.product.get_absolute_url}}" class="title mb-1">{{product.title}}</a> 
                    <p class="text-muted small">{{product.category}} </p> 
                  </div> 
                </div>
              </div> 
              <div class="col-lg-4 col-sm-4 col-6"> 
                <div class="price-wrap lh-sm"> 
                  <var class="price h6">{{product.price}} </var> 
                </div> <!-- price-wrap .// --> 
              </div> 
              <div class="col-lg col-sm-4">
                <div class="card-body p-1">
                  <!-- <label for="select" class="d-none">Qty</label> -->
                  <select id="select{{product.id}}" class="d-none">
                    <option value="" selected disabled hidden>{{item.qty}}</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                  </select>
                  <a type="button" id="delete-button" data-index="{{product.id}}"
                    class="delete-button text-decoration-none small"><i class="fas fa-trash-alt"></i></a>
                </div>
              </div>
            </div>
          </div>
          {% endwith %}
          {% endfor %}
        </div> <!-- card-body .// -->
        <div class="card-body border-top"> 
          <p class="mb-0"><i class="me-2 text-success fa fa-truck"></i> Pengiriman ke manapun</p>
        </div> <!-- card-body.// -->
      </div> <!-- card.// --> 
    </div> <!-- col.// --> 
    
    <aside class="col-lg-3"> 
      <div class="card"> 
        <div class="card-body"> 
          <div class="alert alert-warning" role="alert">
            <span class="mr-1"><i class="fas fa-info-circle"></i></span>
            Setelah menekan tombol pesan, anda akan diarahkan ke Whatsapp dan akan dilayani admin untuk detail pemesanan selanjutnya.
          </div> 
          <hr> 
          <div class="d-grid gap-2 my-3"> 
            <a href="#" class="btn btn-success w-100 mb-2"> Pesan Melalui Whatsapp </a> 
            <a href="#" class="btn btn-light w-100"> Kembali Ke Produk </a> 
          </div> 
        </div> <!-- card-body.// --> 
      </div> <!-- card.// --> 
    </aside> <!-- col.// -->
    {% endif %}
  </div>
</div>

<script>
  // Delete Item
  $(document).on("click", ".delete-button", function (e) {
    e.preventDefault();
    var prodid = $(this).data("index");
    $.ajax({
      type: "POST",
      url: '{% url "basket:basket_delete" %}',
      data: {
        productid: $(this).data("index"),
        csrfmiddlewaretoken: "{{csrf_token}}",
        action: "post",
      },
      success: function (json) {
        $('.product-item[data-index="' + prodid + '"]').remove();

        if (json.qty == 0) {
          total = 0
          subtotal = 0
        } else {
          total = (parseFloat(json.subtotal) + 11.50).toFixed(2);
          subtotal = json.subtotal
        }

        document.getElementById("subtotal").innerHTML = subtotal;
        document.getElementById("basket-qty").innerHTML = json.qty;
        document.getElementById("total").innerHTML = total;
      },
      error: function (xhr, errmsg, err) {},
    });
  });

  // Update Item
  $(document).on("click", ".update-button", function (e) {
    e.preventDefault();
    var prodid = $(this).data("index");
    $.ajax({
      type: "POST",
      url: '{% url "basket:basket_update" %}',
      data: {
        productid: $(this).data("index"),
        productqty: $("#select" + prodid + " option:selected").text(),
        csrfmiddlewaretoken: "{{csrf_token}}",
        action: "post",
      },
      success: function (json) {

        total = (parseFloat(json.subtotal) + 11.50).toFixed(2);
        document.getElementById("basket-qty").innerHTML = json.qty;
        document.getElementById("subtotal").innerHTML = json.subtotal;
        document.getElementById("total").innerHTML = total;
      },
      error: function (xhr, errmsg, err) {},
    });
  });
</script>



{% endblock %}