{% extends "./sub_base.html" %}
{% block title %}Log-in{% endblock %}
{% block sub_content %}

<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-12 col-lg-8 mx-auto" style="margin-top: 10%;">
      <div class="card border-0 shadow rounded-3 my-5">
        <div class="card-body p-4 p-sm-5">
          <form class="account-form" action="{% url 'account:login' %}" method="post">
            {% csrf_token %}
            <h3 class="mb-4 text-center">Login</h3>
            {% if form.errors %}
            <div class="alert alert-primary" role="alert">
              Error: Username atau Password yang anda masukkan salah!
            </div>
            {% endif %}
            <label class="form-label">{{ form.username.label}}</label>
            {{ form.username}}
            <label class="form-label">{{ form.password.label}}</label>
            {{ form.password}}
            <div class="d-grid gap-2">
              <input type="hidden" name="next" value="{{ next }}">
              <button class="btn btn-primary py-2 mb-4 mt-5 fw-bold btn-lg btn-block" type="submit" value="Log-in">Masuk
              </button>
            </div>
            <div class="flex-column justify-content-center mx-auto pb-3">
              <div class="text-center"><a href="{% url "account:register" %}">Mendaftar</a></div>
              <div class="text-center"><a href="{% url "account:pwdreset" %}">Lupa Password?</a></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>




{% endblock %}